body {
	margin: auto;
	font-family: sans-serif;
	line-height: 130%;
}

@media (orientation: landscape) { body { max-width: 800px; } }
@media (orientation: portrait)  { body { margin: 15px; } }

h1 { margin-top: 50px; }
pre { margin-left: 15px; }

.thishost { font-style: italic; }

.footer { margin-top: 30px; }
.footer-text { font-size: 70%; }
