CONFIG_FEATURE_COMPRESS_USAGE=y
# CONFIG_LINUXRC is not set

CONFIG_HTTPD=y
CONFIG_FEATURE_HTTPD_PORT_DEFAULT=80
CONFIG_FEATURE_HTTPD_RANGES=y
CONFIG_FEATURE_HTTPD_SETUID=y
CONFIG_FEATURE_HTTPD_BASIC_AUTH=y
CONFIG_FEATURE_HTTPD_AUTH_MD5=y
# CONFIG_FEATURE_HTTPD_CGI is not set
# CONFIG_INETD is not set
CONFIG_RUNSV=y
CONFIG_RUNSVDIR=y
# CONFIG_SVC is not set
# CONFIG_SVOK is not set
CONFIG_SV=y
# CONFIG_VLOCK is not set
